<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="/dashboard" class="brand-link">
    <span class="brand-text font-weight-light"><i class="fas fa-blog mr-2"></i>BlogMS</span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex align-items-center">
      <div class="image">
        <% if (data && data.profileImage) { %>
          <img src="/<%= data.profileImage %>" class="img-circle elevation-2" alt="User Image" style="width:33px;height:33px;object-fit:cover;">
        <% } else { %>
          <img src="https://adminlte.io/themes/v3/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        <% } %>
      </div>
      <div class="info ml-2">
        <a href="/dashboard" class="d-block"><%= data ? data.name : 'Guest' %></a>
        <span class="badge badge-<%= data && data.role === 'admin' ? 'danger' : 'info' %> badge-sm">
          <%= data ? data.role.toUpperCase() : '' %>
        </span>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">

        <li class="nav-header">MAIN MENU</li>

        <li class="nav-item">
          <a href="/dashboard" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/blogs" class="nav-link">
            <i class="nav-icon fas fa-newspaper"></i>
            <p>All Blogs</p>
          </a>
        </li>

        <li class="nav-item">
          <a href="/blogs/create" class="nav-link">
            <i class="nav-icon fas fa-plus-circle"></i>
            <p>Create Blog</p>
          </a>
        </li>

        <% if (data && data.role === 'admin') { %>
          <li class="nav-header">ADMIN PANEL</li>
          <li class="nav-item">
            <a href="/users" class="nav-link">
              <i class="nav-icon fas fa-users-cog"></i>
              <p>Manage Users</p>
            </a>
          </li>
        <% } %>

        <li class="nav-header">ACCOUNT</li>
        <li class="nav-item">
          <a href="/api/auth/logout" class="nav-link text-danger">
            <i class="nav-icon fas fa-sign-out-alt"></i>
            <p>Logout</p>
          </a>
        </li>

      </ul>
    </nav>
  </div>
</aside>
